<app-header></app-header>

<ion-content>
  <h1>Ajouter un clip</h1>

  <ion-label position="stacked">Titre</ion-label>
  <ion-input [(ngModel)]="newClipTitle" type="text" placeholder="Titre du clip..." class="custom" mode="md" label-placement="stacked" fill="outline" maxlength="15"></ion-input>

  <ion-label position="stacked">URL du clip</ion-label>
  <ion-input [(ngModel)]="newClipFile" type="text" class="custom" mode="md" label-placement="stacked" fill="outline" placeholder="URL du clip..."></ion-input>

  <ion-label position="stacked">URL de la miniature du clip (optionnel)</ion-label>
  <ion-input [(ngModel)]="newClipThumbnail" type="text" placeholder="URL..." class="custom" mode="md" label-placement="stacked" fill="outline" placeholder="URL de la miniature..."></ion-input>
  <ion-button class="add-clip-btn" shape="round" (click)="addClipHandler()">Ajouter</ion-button>
  <ion-text *ngIf="errorMessage" color="danger">{{ errorMessage }}</ion-text>
  <ion-text *ngIf="confirmMessage" color="success">{{ confirmMessage }}</ion-text>
</ion-content>
