<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header">
        <img alt="logo" id="header_logo" height="60" src="../../assets/outplayed_white.webp">
        Outplayed
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Mes jeux</h1>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="grid">
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
    <app-game-card imageUrl="https://opgg-static.akamaized.net/meta/images/profile_icons/profileIcon6018.jpg?image=q_auto,f_webp,w_auto&v=1707283412529" title="League Of Legends"></app-game-card>
  </div>

 
</ion-content>


