<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="sub-header">
    <h1>Mes clips</h1>
    <ion-button class="refresh-btn" (click)="refreshBtnHandler()" size="small">
      <ion-icon name="refresh-sharp"></ion-icon>
    </ion-button>
  </div>
  
  <div class="grid">
    <app-game-card *ngFor="let clip of clips" idClip="{{ clip.id }}" title="{{ clip.title }}" file="{{ clip.file }}" [createdAt]="clip.createdAt" thumbnail="{{ clip.thumbnail }}" (clipDeleted)="refreshBtnHandler()"></app-game-card>
  </div>
</ion-content>


