<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header">
        <img alt="logo" id="header_logo" height="60" src="../../assets/outplayed_white.webp">
        Outplayed Companion
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
