<app-header></app-header>

<ion-content>
    <ion-text class="center">
        <h1>À propos</h1>
    </ion-text>
    <ion-text>
        Cette plateforme vise à offrir aux amateurs de jeux vidéo un accès rapide et facile à leurs clips captivants.<br>
        Ajoutez vos clips via l'onglet "Ajouter", puis visionnez-les, éditez-les ou bien supprimez-les via l'onglet "Clips".<br>
        Pour toute question, contactez-nous par mail à l'adresse suivante : contact&#64;outplayed.fr
    </ion-text>
    <br>
    <ion-text class="center">
        <p>©2024 Mash Corp. Tous droits réservés.</p>
    </ion-text>
</ion-content>
